<div id="page-content">
    <h1 class='text-center'><%= @artical.title %></h1>
        <div class='container'>
            <div class='row justify-content-center'>
                <div class="col-lg-8">
                    <div class="card text-center mt-4 shadow mb-5 bg-white rounded">
                        <div class="card-header font-italic">
                            By Qasim
                        </div>
                        <div class="card-body">
                            <div class="card-text art_describe text-left"><%= simple_format(@artical.description) %></div>
                            <%= link_to 'Edit', edit_artical_path(@artical), class: "btn btn-outline-success my-2 my-sm-0" %>
                            <%= link_to 'Delete', artical_path(@artical), class: "btn btn-outline-danger my-2 my-sm-0",method:'delete' , data: {confirm: "Are you sure?"} %>
                        </div>
                        <div class="card-footer text-muted">
                            <small>Created <%= time_ago_in_words(@artical.created_at) %> ago, 
                            edited <%= time_ago_in_words(@artical.updated_at) %> ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <p>
    <td><%=link_to 'Create New Artical', new_artical_path %></td>
    </p>
</div>